@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.hero {
    background-image: url(../images/hero/about-hero-img.avif);
}

@media (max-width:500px) {
    .hero {
        background-image: url(../images/hero/about-hero-mini.avif);
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-scroll {
    animation: scroll 35s linear infinite;
    width: max-content;
}

.animate-scroll-reverse {
    animation: scroll-reverse 35s linear infinite;
    width: max-content;
}


.mySwiper2 {
    position: relative;
}

.mySwiper2 .swiper-pagination {
    position: absolute !important;
    bottom: -10px !important;
    left: 0;
    right: 0;
    display: flex;
    gap: 10px;
    z-index: 50;
}

.swiper-slide {
    display: flex !important;
    position: relative;
}

.swiper-pagination-bullet {
    margin: 0 6px !important;
    background-color: #B6BAC3 !important;
    width: 72px !important;
    border-radius: 11px !important;
    height: 4px !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto !important;
    bottom: -10px !important;
    position: relative;
}

.swiper-pagination-bullet-active {
    width: 72px !important;
    height: 4px !important;
    border-radius: 11px !important;
    background-color: #383A42 !important;
}

